ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

 li {
	float: left;
	width: 160px;
	height: 40px;
	background-color:#333;
  	line-height: center;
  	text-align: center;
	font-size: 20px;
	margin-right: 2px; 
}
